.card_0_0 {
  top: 0px;
  left: 0px;
}

.card_0_1 {
  top: 0px;
  left: 90px;
}

.card_0_2 {
  top: 0px;
  left: 180px;
}

.card_0_3 {
  top: 0px;
  left: 270px;
}

.card_0_4 {
  top: 0px;
  left: 360px;
}

.card_0_5 {
  top: 0px;
  left: 450px;
}

.card_0_6 {
  top: 0px;
  left: 540px;
}

.card_0_7 {
  top: 0px;
  left: 630px;
}

.card_0_8 {
  top: 0px;
  left: 720px;
}

.card_0_9 {
  top: 0px;
  left: 810px;
}

.card_0_10 {
  top: 0px;
  left: 900px;
}

.card_0_11 {
  top: 0px;
  left: 990px;
}

.card_0_12 {
  top: 0px;
  left: 1080px;
}

.card_0 {
  top: 450px;
  left: 0px;
}

.card_1_0 {
  top: 90px;
  left: 0px;
}

.card_1_1 {
  top: 90px;
  left: 90px;
}

.card_1_2 {
  top: 90px;
  left: 180px;
}

.card_1_3 {
  top: 90px;
  left: 270px;
}

.card_1_4 {
  top: 90px;
  left: 360px;
}

.card_1_5 {
  top: 90px;
  left: 450px;
}

.card_1_6 {
  top: 90px;
  left: 540px;
}

.card_1_7 {
  top: 90px;
  left: 630px;
}

.card_1_8 {
  top: 90px;
  left: 720px;
}

.card_1_9 {
  top: 90px;
  left: 810px;
}

.card_1_10 {
  top: 90px;
  left: 900px;
}

.card_1_11 {
  top: 90px;
  left: 990px;
}

.card_1_12 {
  top: 90px;
  left: 1080px;
}

.card_1 {
  top: 450px;
  left: 90px;
}

.card_2_0 {
  top: 180px;
  left: 0px;
}

.card_2_1 {
  top: 180px;
  left: 90px;
}

.card_2_2 {
  top: 180px;
  left: 180px;
}

.card_2_3 {
  top: 180px;
  left: 270px;
}

.card_2_4 {
  top: 180px;
  left: 360px;
}

.card_2_5 {
  top: 180px;
  left: 450px;
}

.card_2_6 {
  top: 180px;
  left: 540px;
}

.card_2_7 {
  top: 180px;
  left: 630px;
}

.card_2_8 {
  top: 180px;
  left: 720px;
}

.card_2_9 {
  top: 180px;
  left: 810px;
}

.card_2_10 {
  top: 180px;
  left: 900px;
}

.card_2_11 {
  top: 180px;
  left: 990px;
}

.card_2_12 {
  top: 180px;
  left: 1080px;
}

.card_2 {
  top: 450px;
  left: 180px;
}

.card_3_0 {
  top: 270px;
  left: 0px;
}

.card_3_1 {
  top: 270px;
  left: 90px;
}

.card_3_2 {
  top: 270px;
  left: 180px;
}

.card_3_3 {
  top: 270px;
  left: 270px;
}

.card_3_4 {
  top: 270px;
  left: 360px;
}

.card_3_5 {
  top: 270px;
  left: 450px;
}

.card_3_6 {
  top: 270px;
  left: 540px;
}

.card_3_7 {
  top: 270px;
  left: 630px;
}

.card_3_8 {
  top: 270px;
  left: 720px;
}

.card_3_9 {
  top: 270px;
  left: 810px;
}

.card_3_10 {
  top: 270px;
  left: 900px;
}

.card_3_11 {
  top: 270px;
  left: 990px;
}

.card_3_12 {
  top: 270px;
  left: 1080px;
}

.card_3 {
  top: 450px;
  left: 270px;
}
